<div id="portfolio" class="section section--mobile-fullwidth portfolio js-animated" data-title="Portfolio" data-color="white">
    <h4 class="section__title">Portfolio</h4>

    {{#portfolio}}
        <div class="portfolio__element u-animated">
            <img class="js-lazy-load" data-lazy-src="{{image}}" alt="{{title}} preview" src="/default-theme/img/portfolio-placeholder.jpg">
            <div class="portfolio__element__inner hover-dir">
                <h3 class="portfolio__element__title">{{{title}}}</h3>
                <span class="portfolio__element__url">{{url}}</span>
                <a class="portfolio__element__link" target="_blank" href="http://{{url}}"><i class="fa fa-link"></i></a>
                <div class="portfolio__element__details">{{tags}}</div>
            </div>
        </div>
    {{/portfolio}}

    <button class="portfolio__show-more js-portfolio__show-more">Show more <i class="fa fa-plus"></i></button>
</div>